In [39]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")
np.random.seed(42)

In [40]:
train_df = pd.read_csv("muffins_vs_cupcakes.csv", index_col=0)

In [41]:
train_df.head()

     Type  Flour  Milk  Sugar  Butter  Egg  Baking Powder  Vanilla  Salt
0  Muffin     55    28      3       7    5              2        0     0
1  Muffin     47    24     12       6    9              1        0     0
2  Muffin     47    23     18       6    4              1        0     0
3  Muffin     45    11     17      17    8              1        0     0
4  Muffin     50    25     12       6    5              2        1     0

In [42]:
X = train_df.drop("Type", axis=1)
y = train_df["Type"].replace({"Cupcake": 0, "Muffin": 1})

In [45]:
from sklearn.ensemble import RandomForestClassifier


rnd_clf = RandomForestClassifier(n_estimators=10, random_state=42).fit(X, y)

In [46]:
import joblib

joblib.dump(rnd_clf, "model.joblib")

['model.joblib']